$content-white: #fff;
$border-color: #ccc;
$current-color: #f0f0f0;

.popovers {
    .list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .list-item {
        position: relative;
        margin: 10px 0;
        border: 1px solid $border-color;
        padding: 20px 40px 20px 20px;
        // overflow: hidden; -> hierarchy popover 구현 시, 문제 발생 가능 지점
    }

    .popover-trigger {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        padding: 10px;
        font-size: 1.3rem;
        cursor: pointer;
        background-color: transparent;

        &::before {
            content: '\022ee';
        }
    }
}

.popover {
    &::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        // overlay
        content: '';
    }

    .panel {
        position: absolute;
        top: 40px;
        right: 5px;
        z-index: 2;
        overflow: hidden;
        margin: 0;
        border: 1px solid $border-color;
        padding: 0;
        width: 160px;
        background-color: $content-white;
        border-radius: 5px;
        list-style: none;

        .content {
            padding: 10px 20px;
            transition: background-color ease-out 0.2s;
            cursor: pointer;
            background-color: $content-white;
            border-top: 1px solid $border-color;

            &:first-of-type {
                border-top: 0;
            }

            &:hover {
                background-color: $current-color;
            }
        }
    }
}
