$border-gray: #ccc;
$primary-color: #c35;
$font-white: #fff;

.selectbox {
    box-sizing: border-box;
    border: 1px solid $border-gray;
    border-radius: 8px;
    padding: 10px 15px;
    width: 400px;
    background-color: $primary-color;
    font-size: 1rem;
    color: $font-white;
    appearance: none;

    option {
        background-color: $font-white;
        font-size: 1rem;
    }
}
