$button-black: #000;

.Pagination {
    display: flex;
    justify-content: center;

    .pages {
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .pageMoveTrigger {
        button {
            position: relative;
            display: block;
            border: 0;
            padding: 25px 10px 10px;
            width: 100%;
            text-align: center;
            background: none;
            cursor: pointer;
            outline: 0;

            &::before {
                position: absolute;
                top: 10px;
                left: 50%;
                display: block;
                border: 1px solid $button-black;
                width: 7px;
                height: 7px;
                transform: translateX(-50%);
                border-radius: 50%;
                content: '';
            }
        }

        &.current button {
            font-weight: 700;

            &::before {
                background-color: $button-black;
            }
        }
    }
}
