$border-gray: #ccc;
$font-white: #fff;
$label-overlay: rgb(0 0 0 / 50%);
$button-overlay: #333;

.ImageSlides {
    .imageSlide {
        position: relative;
        overflow: hidden;
        border: 1px solid $border-gray;
        width: 600px;
        height: 320px;
        font-family: sans-serif;
    }

    .track {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .transformTrack {
        transition: transform 0.5s ease-in-out;
    }

    .scrollSnapTrack {
        overflow-x: scroll;
        overscroll-behavior: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }

    .slide {
        position: relative;
        margin: 0;
        padding: 0;

        .content {
            display: block;
        }
    }

    .scrollSnapSlide {
        scroll-snap-align: start;
    }

    .label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 3px 10px;
        font-size: 2rem;
        font-weight: bold;
        color: $font-white;
        background-color: $label-overlay;
    }

    .moveTrigger {
        position: absolute;
        top: 50%;
        z-index: 20;
        border: none;
        width: 40px;
        height: 40px;
        opacity: 0.3;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: $button-overlay;
        border-radius: 50%;

        &:hover {
            opacity: 1;
        }

        &::before,
        &::after {
            position: absolute;
            top: 5px;
            width: 6px;
            height: 17px;
            background-color: $font-white;
            content: '';
            transform-origin: 3px 14px;
        }
    }

    .moveTrigger:disabled {
        opacity: 0;
        cursor: not-allowed;
        pointer-events: none;
    }

    .moveLeft {
        left: 10px;

        &::before,
        &::after {
            left: 11px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(135deg);
        }
    }

    .moveRight {
        right: 10px;

        &::before,
        &::after {
            right: 11px;
        }

        &::before {
            transform: rotate(-45deg);
        }

        &::after {
            transform: rotate(-135deg);
        }
    }
}
