$trigger-gray: #474747;
$border-gray: #ccc;
$background-white: #fff;

.DraggableList {
  margin: 0;
  border-radius: 7px;
  padding: 0;
  width: 500px;

  .draggableItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px;
    border: 1px solid $border-gray;
    border-radius: 5px;
    padding: 10px 0 10px 15px;
    background: $background-white;
    list-style: none;
    transition: all 0.2s ease-out;

    &.dragging {
      opacity: 0.7;
      transform: scale(1.05);
    }

    .dragTrigger {
      padding: 10px 15px;
      margin: -10px 0;
      color: $trigger-gray;
      font-size: 1.13rem;

      &::before {
        content: '...';
        display: inline-block;
        vertical-align: 6px;
      }

      &:hover {
        cursor: grab;
      }
    }
  }
}
