$border-gray: #ccc;
$current: #bde;

.TabMenus {
  .container {
    border: 1px solid $border-gray;
  }

  .tabList {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $border-gray;
  }

  .tabTrigger {
    flex: 1;
    background: none;
    border: none;
    border-left: 1px solid $border-gray;
    box-sizing: border-box;
    padding: 15px;
    font: inherit;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:first-child {
      border-left: none;
    }

    &.current {
      background-color: $current;
    }
  }

  .tabPanel {
    display: none;

    &.current {
      display: block;
      padding: 15px;
    }
  }
}
