$border-gray: #ccc;
$current: #bde;

.TabMenus {
    .container {
        border: 1px solid $border-gray;
    }

    .tabList {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid $border-gray;
    }

    .tabTrigger {
        flex: 1;
        box-sizing: border-box;
        overflow: hidden;
        border: none;
        padding: 15px;
        font: inherit;
        background: none;
        cursor: pointer;
        border-left: 1px solid $border-gray;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:first-child {
            border-left: none;
        }

        &.current {
            background-color: $current;
        }
    }

    .tabPanel {
        display: none;

        &.current {
            display: block;
            padding: 15px;
        }
    }
}
