$border-gray: #ccc;
$button-black: #333;

.LineClamps {
    .content {
        position: relative;
        margin: 10px 0;
        border: 1px solid $border-gray;
        padding: 10px;
        line-height: 1.67;
    }

    .text {
        white-space: pre-line;
    }

    .more-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        border: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-color: transparent;

        // 아래 화살표
        &::before {
            display: inline-block;
            width: 5px;
            height: 5px;
            transform: rotate(45deg);
            border-color: transparent $button-black $button-black transparent;
            border-style: solid;
            border-width: 1px;
            content: '';
            vertical-align: middle;
        }
    }

    .content.clamped {
        .text {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
    }

    .text-clone {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: -1;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        white-space: pre-line;
    }
}
