html,
body {
    margin: 0;
    height: 100%;
}

body {
    overflow-y: scroll;
    padding-left: 200px;

    // modal 컴포넌트 내부 스크롤 차단
    &.no-scroll {
        overflow: hidden;
    }
}

aside {
    --bg-default: #222;
    --bg-list: #444;
    --bg-list-disabled: #303030;
    --bg-list-active: #58a;
    --bg-list-open: #457;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 199px;
    color: #fff;
    background-color: var(--bg-default);
    border-right: 1px solid var(--bg-default);

    a {
        color: inherit;
        text-decoration: none;
    }

    button {
        display: block;
        margin: 0;
        border: 0;
        padding: 10px 20px;
        width: 100%;
        font-size: inherit;
        color: inherit;
        text-align: left;
        cursor: pointer;
        background-color: inherit;
    }

    h1 {
        overflow: hidden;
        margin: 0;
        padding: 20px;

        sub {
            opacity: 0.7;
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        background-color: var(--bg-list);
        list-style: none;
    }


    .subRoutes {
        overflow: hidden;
        height: 0;
        opacity: 0;
        background-color: var(--bg-list-open);
        transition-duration: 0.3s;
        transition-property: height, opacity;
        transition-timing-function: ease;

        a {
            padding-left: 33px;

            &::before {
                display: inline-block;
                border: 2px solid #fff;
                border-radius: 2px;
                content: '';
                margin-right: 8px;
                vertical-align: middle;
            }
        }
    }

    li.parent > a::before {
        display: inline-block;
        border: 4px solid transparent;
        border-left-color: #fff;
        content: '';
        margin-left: -12px;
        margin-right: 4px;
        vertical-align: 2px;
    }

    li {
        transition: background-color ease 0.3s;
        border-top: 1px solid var(--bg-default);

        &.active {
            font-weight: 700;
            background-color: var(--bg-list-active);
        }

        &.open {
            font-weight: 700;
            background-color: var(--bg-list-open);

            .subRoutes {
            opacity: 1;
        }
        // GNB 애니메이션 지정
        @for $i from 1 to 10 {
            &.items-#{$i} .subRoutes {
                height: calc(#{$i} * 40px);
            }
        }

        &.parent > a::before {
            border-left-color: transparent;
            border-top-color: #fff;
            margin-left: -14px;
            margin-right: 6px;
            vertical-align: 0;
        }
        }

        /* stylelint-disable-next-line no-descending-specificity */
        a {
            display: block;
            padding: 10px 20px 10px 25px;
        }

        &.disabled {
            display: block;
            padding: 10px 20px 10px 25px;
            color: #666;
            cursor: not-allowed;
            background-color: var(--bg-list-disabled);
        }
    }

    

    
}

main {
    box-sizing: border-box;
    padding: 20px;
    min-height: 100%;

    h3 > sub::before {
        margin: 0 5px 0 10px;
        color: #999;
        content: '|';
    }
}

.markdown {
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.67;

    ul,
    ol {
        margin: 0.5rem 0;
        padding-left: 20px;
    }

    li {
        margin: 0.2rem 0;
    }

    code {
        padding: 3px;
        background-color: #eee;
        border-radius: 3px;
        white-space: pre;
    }

    pre {
        margin: 0;
        padding: 1rem;
        background-color: #eee;
        border-radius: 5px;

        code {
            padding: 0;
            background: none;
            border-radius: 0;
        }
    }
}
