$border-gray: #ccc;
$font-white: #fff;
$label-overlay: rgb(0 0 0 / 50%);
$button-overlay: #333;

.Carousels {
    .carousel {
        position: relative;
        overflow: hidden;
        border: 1px solid $border-gray;
        width: 600px;
        height: 320px;
        font-family: sans-serif;
    }

    .track {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .cloneTrack {
        display: flex;
        flex-wrap: nowrap;
    }

    .singleSlide {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        transform: translateX(-200%);

        &.left-current {
            animation: left-current ease-out 0.3s forwards;
        }

        &.left-next {
            animation: left-next ease-out 0.3s forwards;
        }

        &.right-current {
            animation: right-current ease-out 0.3s forwards;
        }

        &.right-next {
            animation: right-next ease-out 0.3s forwards;
        }

        &.current {
            transform: translateX(0);
        }
    }

    .slide {
        position: relative;
        flex-shrink: 0;
    }

    .content {
        display: block;
    }

    .label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 3px 10px;
        font-size: 2rem;
        font-weight: bold;
        color: $font-white;
        background-color: $label-overlay;
    }

    .moveTrigger {
        position: absolute;
        top: 50%;
        z-index: 20;
        border: none;
        width: 40px;
        height: 40px;
        opacity: 0.3;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: $button-overlay;
        border-radius: 50%;

        &:hover {
            opacity: 1;
        }

        &::before,
        &::after {
            position: absolute;
            top: 5px;
            width: 6px;
            height: 17px;
            background-color: $font-white;
            content: '';
            transform-origin: 3px 14px;
        }
    }

    .moveLeft {
        left: 10px;

        &::before,
        &::after {
            left: 11px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(135deg);
        }
    }

    .moveRight {
        right: 10px;

        &::before,
        &::after {
            right: 11px;
        }

        &::before {
            transform: rotate(-45deg);
        }

        &::after {
            transform: rotate(-135deg);
        }
    }

    @keyframes left-current {
        0% {
            left: 0;
            transform: translateX(0);
        }

        100% {
            transform: translateX(100%);
        }
    }
    @keyframes left-next {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }
    @keyframes right-current {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
    @keyframes right-next {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}
