$font-gray: #fff;
$background-dimmed: rgba(17, 17, 17, 0.95);
$box-shadow: rgba(0, 0, 0, 0.15);
$hightlight-color: #03c75a;

.trigger-container {
    display: inline-block;
    margin: 10px;
}

.snackbars-root {
    --Snackbars-marginBottom: 24px;
    position: fixed;
    left: 50%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--Snackbars-marginBottom);
    z-index: 100;
    transform: translateX(-50%);
}

.snackbar {
    position: relative;
    display: flex;
    justify-content: center;

    margin-top: 5px;
    width: 100%;
    min-width: 300px;
    max-width: 680px;
    border-radius: 8px;
    padding: 15px 14px 12px;
    box-shadow: 0px 4px 4px $box-shadow;
    background-color: $background-dimmed;
    font-size: 1.1rem;
    line-height: 1.47;
    color: $font-gray;
    opacity: 0;

    .close-trigger {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 20px;
        height: 20px;
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 14px;
            height: 2px;
            background-color: $font-gray;
            transform-origin: center;
            transition: background-color 150ms ease;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover,
        &:focus {
            transform: scale(1.1);
            outline: none;
        }
    }

    .panel {
        margin: 0;
        line-height: 1.47;
        font-size: 1.1rem;
        text-align: center;
    }

    &.enter {
        animation: enter 500ms ease-out forwards;
    }

    &.show {
        transform: translateY(0);
        opacity: 1;
    }

    &.exit {
        animation: exit 500ms ease-out forwards;
    }
}

@keyframes enter {
    0% {
        transform: translate(0, 50px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes exit {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 50px);
        opacity: 0;
    }
}
