$font-gray: #fff;
$background-dimmed: rgb(17 17 17 / 95%);
$box-shadow: rgb(0 0 0 / 15%);
$hightlight-color: #03c75a;

.trigger-container {
    display: inline-block;
    margin: 10px;
}

.snackbars-root {
    --snackbars-margin-bottom: 24px;

    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    margin-bottom: var(--snackbars-margin-bottom);
}

.snackbar {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 15px 14px 12px;
    width: 100%;
    min-width: 300px;
    max-width: 680px;
    font-size: 1.1rem;
    line-height: 1.47;
    color: $font-gray;
    box-shadow: 0 4px 4px $box-shadow;
    opacity: 0;
    background-color: $background-dimmed;
    border-radius: 8px;
    margin-top: 5px;

    .close-trigger {
        position: absolute;
        top: 8px;
        right: 8px;
        border: none;
        padding: 0;
        width: 20px;
        height: 20px;
        background: transparent;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14px;
            height: 2px;
            transition: background-color 150ms ease;
            background-color: $font-gray;
            content: '';
            transform-origin: center;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover,
        &:focus {
            transform: scale(1.1);
            outline: none;
        }
    }

    .panel {
        margin: 0;
        font-size: 1.1rem;
        line-height: 1.47;
        text-align: center;
    }

    &.enter {
        animation: enter 500ms ease-out forwards;
    }

    &.show {
        opacity: 1;
        transform: translateY(0);
    }

    &.exit {
        animation: exit 500ms ease-out forwards;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translate(0, 50px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes exit {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, 50px);
    }
}
