$dimmed-black: rgba(0, 0, 0, 0.5);
$white: #fff;

.scrollBox {
  position: relative;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.item {
  flex: 0;
}

.target {
  flex: 0 0 1px;
  margin-right: -1px;
}

.scroll-button {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: $dimmed-black;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  &.on {
    display: block;
    opacity: 0.5;
    transition: opacity ease-out 0.2s;
    &:hover {
      opacity: 1;
    }
  }

  // 버튼 위치
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 12px;
    background-color: $white;
  }
  &::before {
    top: calc(50% - 10px);
  }
  &::after {
    top: calc(50% + 2px);
  }

  // <- 좌측 버튼
  &.prev {
    left: 0;
    &::before {
      left: 13px;
      transform-origin: 0 100%;
      rotate: 30deg;
    }
    &::after {
      left: 13px;
      transform-origin: 0 0;
      rotate: -30deg;
    }
  }

  // -> 우측 버튼
  &.next {
    right: 0;
    &::before {
      right: 13px;
      top: calc(50% - 10px);
      transform-origin: 100% 100%;
      rotate: -30deg;
    }
    &::after {
      right: 13px;
      top: calc(50% + 2px);
      transform-origin: 100% 0;
      rotate: 30deg;
    }
  }
}
